*{
  margin: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.banner-card{
  /* margin-left: 4px; */
  width: 100%;
  padding:1rem;
}


.banner-img{
  height:80vh;
}

.banner-details{
  color:white;
  position: absolute;
  bottom:1rem;
}

@media screen and (max-width:500px){
  .banner-img{
    height:50vh;
  }
  

  .banner-details{
    font-size: .8rem;
    color:white;
    position: absolute;
    bottom:1rem;
  }
}

.list-card{
  width:22rem;
}

.list-cont{
  display:flex;
  flex-wrap: wrap;
  justify-content:space-around;
}

.list-card{
  margin-top:1rem;
}

.list-details{
  position:absolute;
  color: white;
  bottom: 0;
}

.pagination{
  margin-top:1rem;
  display: flex;
  justify-content: center;
}